*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
form {
    display: inline-block;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}


label {
    display: inline-block;
    width: 100px;
    margin-bottom: 5px;
    font-weight: bold;
}


input, textarea {
    width: 250px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}


input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
